# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env fájlok
.env
.env.*      # pl. .env.local

# Build / cache / generated
build/
coverage/
tmp/
*.cache

# Node / JS
package-lock.json
yarn.lock
pnpm-lock.yaml

# OS fájlok
Thumbs.db

# Telepített node_modules már benne van, oké
